<html>
<head><link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>html document</title></head>
<body>
        <div id="menu">
                <ul>
                    <a href="about.html"><li>ABOUT US</li></a>
                    <a href="training.html"><li>TRAINING</li></a>
                    <a href="contact.html"><li>CONTACT US</li></a>
                </ul>
           </div>
    <div id="one", style="background-color:darkorange; ">
    <h3 style="background-color:darkseagreen; padding-top :20%">extrnal css</h3><br>
    <h2>internal css</h2>
</div>
<div id="two", style=" height:100; width:100"></div>

<style>
    #menu li{ display:inline;
               margin-left: 1em;
               color:black;}
     #menu a{ text-decoration: none;}          
    #one
    { font-family: cursive; }
    #two
    {  background-color:chartreuse; }
    h2{ 
    color: red;
    background-color: blueviolet;
     margin-left: 20% }


</style>

</html>